{# etendre vers le template de base  #}

{% extends 'base.html.twig' %}
{% block body %}
<h1> Bienvenue <h1>
<p>
Bienvenue sur notre site de vente de produits , ceci est juste un test de recrutement!

</p>
<div class="content">
<img src="http://placehold.it/1080x1080" alt="">

</div>

{% endblock %}