{# etendre vers le template de base  #}
{% extends 'base.html.twig' %}
{% block body %}
<h1> panier <h1>
<h1> {{ app.user.email }} <h1>


{% for panier in paniers %}
 <panier>
 {% set p = panier.email  %}
{% if app.user.email == p  %}
<h2>{{panier.id }}</h2>
<div class="content">
<img src="http://placehold.it/350x150" alt="">


{%endif%}
</panier>


{%endfor%}
</br>
<a href=" {{path('valider')}}" class="btn-primary">valider la commande</a>
  

{% endblock %}